#!/bin/sh

## ParameterSpace region

# mh
mhMin=125.0
mhMax=125.0
nmhBins=1

# mH
mHMin=300.0
mHMax=300.0
nmHBins=1

# mA
mAMin=180.0
mAMax=210.0
nmABins=3

# mHc
mHcMin=300.0
mHcMax=300.0
nmHcBins=1

# cos(beta-alpha)
#CosBAMin=-0.999
#CosBAMin=0.1
#CosBAMax=0.999
CosBAMin=-0.999
CosBAMax=0.999
nCosBABins=51

# tan(beta)
TanBMin=1.5
TanBMax=20.0
nTanBBins=51

# l6
l6Min=0.0
l6Max=0.0
nl6Bins=1

# l7
l7Min=0.0
l7Max=0.0
nl7Bins=1

# m12_2
m12_2Min=158000.0
m12_2Max=158000.0
nm12_2Bins=1

# Yukawa-Type
ytype=2
