#!/bin/sh

## ParameterSpace region

# mh
mhMin=125.0
mhMax=125.0
nmhBins=1

# mH
mHMin=500.0
mHMax=500.0
nmHBins=1

# mA
mAMin=350.0
mAMax=350.0
nmABins=1

# mHc
mHcMin=500.0
mHcMax=500.0
nmHcBins=1

# cos(beta-alpha)
#CosBAMin=-0.999
#CosBAMax=0.999
SinBAMin=-0.999
SinBAMax=0.999
nSinBABins=51

# tan(beta)
TanBMin=1.5
TanBMax=20.0
nTanBBins=51

# l6
l6Min=0.0
l6Max=0.0
nl6Bins=1

# l7
l7Min=0.0
l7Max=0.0
nl7Bins=1

# m12_2
m12_2Min=15800.0
m12_2Max=15800.0
nm12_2Bins=1

# Yukawa-Type
ytype=2
