#!/bin/sh

## ParameterSpace region

# mh
mhMin=125.0
mhMax=125.0
nmhBins=1

# mH
mHMin=350.0
mHMax=350.0
nmHBins=1

# cos(beta-alpha)
CosBAMin=-0.65
CosBAMax=0.65
nCosBABins=51

# tan(beta)
TanBMin=1.5
TanBMax=20.0
nTanBBins=51

# Z4
Z4Min=-1.0
Z4Max=-1.0
nZ4Bins=1

# Z5
Z5Min=1.0
Z5Max=1.0
nZ5Bins=1

# Z7
Z7Min=0.0
Z7Max=0.0
nZ7Bins=1

# Yukawa-Type
ytype=2
