#!/bin/sh

## ParameterSpace region

# mh
mhMin=125.0
mhMax=125.0
nmhBins=1

# mH
mHMin=480.0
mHMax=480.0
nmHBins=1

# cos(beta-alpha)
#CosBAMin=-0.999
#CosBAMax=0.999
CosBAMin=-0.45
CosBAMax=0.45
nCosBABins=51

# tan(beta)
TanBMin=1.5
TanBMax=20.0
nTanBBins=51

# Z4
Z4Min=-3.1
Z4Max=-3.1
nZ4Bins=1

# Z5
Z5Min=3.1
Z5Max=3.1
nZ5Bins=1

# Z7
Z7Min=0.0
Z7Max=0.0
nZ7Bins=1

# Yukawa-Type
ytype=2
